{# Métadonnées : temps, personnes, difficulté #}
<div class="row">
    <div class="col-md-4 mb-3">
        {{ form_label(form.tempsCuisson, 'Temps (min)', {'label_attr': {'class': 'form-label fw-bold'}}) }}
        {{ form_widget(form.tempsCuisson, {'attr': {'class': 'form-control', 'min': 0}}) }}
        {{ form_errors(form.tempsCuisson) }}
    </div>
    
    <div class="col-md-4 mb-3">
        {{ form_label(form.nombrePersonnes, 'Personnes', {'label_attr': {'class': 'form-label fw-bold'}}) }}
        {{ form_widget(form.nombrePersonnes, {'attr': {'class': 'form-control', 'min': 1}}) }}
        {{ form_errors(form.nombrePersonnes) }}
    </div>
    
    <div class="col-md-4 mb-3">
        {{ form_label(form.difficulte, 'Difficulté (1-5)', {'label_attr': {'class': 'form-label fw-bold'}}) }}
        {{ form_widget(form.difficulte, {'attr': {'class': 'form-control', 'min': 1, 'max': 5}}) }}
        {{ form_errors(form.difficulte) }}
    </div>
</div>